.home-page {
  background-color: #881054;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logoPantalla {
  width: 760px;
  position: absolute;
  z-index: 1;
}

.start-button {
  text-align: center;
  background-color: #4b0c2f;
  color: #dfc506;
  border: 0;
  padding: 0;
  border-radius: 1px;
  width: 260px;
  height: 100px;
  font-size: 30px;
  margin-bottom: 75px;
  box-shadow: 3px 3px 5px 6px #4b0c2f;
  font-family: Cardenio-Modern-Bold;
  z-index: 2;
  position: relative;
  margin-top: 698px;
}

.logosAbajo {
  width: 928px;
}

@font-face {
  font-family: Cardenio-Modern-Std;
  src: url('../../styles/fonts/Cardenio-Modern-Std.ttf');
}

@font-face {
  font-family: Cardenio-Modern-Bold;
  src: url('../../styles/fonts/Cardenio-Modern-Bold.ttf');
}
