.game-page {
  background-color: #881054;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.instructions {
  font-family: Cardenio-Modern-Std;
  color: #ffffff;
  text-align: center;
  margin-bottom: 100px;
  font-size: 46px;
  margin-block-start: 0px;
  padding-top: 80px;
}

.quote {
  font-family: Cardenio-Modern-Std;
  color: #eaab11;
  text-align: center;
  font-size: 59px;
  padding-bottom: 63px;
}

#answer {
  border-radius: 3px;
  width: 380px;
  height: 43px;
  font-family: Cardenio-Modern-Bold;
  font-size: 50px;
}

form {
  text-align: center;
}

.listo-button {
  text-align: center;
  background-color: #4b0c2f;
  color: #dfc506;
  border: 0;
  padding: 0;
  border-radius: 1px;
  width: 260px;
  height: 100px;
  font-size: 30px;
  margin-bottom: 100px;
  box-shadow: 3px 3px 5px 6px #4b0c2f;
  font-family: Cardenio-Modern-Bold;
}

@font-face {
  font-family: Cardenio-Modern-Std;
  src: url('../../styles/fonts/Cardenio-Modern-Std.ttf');
}

@font-face {
  font-family: Cardenio-Modern-Bold;
  src: url('../../styles/fonts/Cardenio-Modern-Bold.ttf');
}
